body, html { position:relative; z-index:1; height:100%; background:#000; font-family:'TradeGothicLTStdCnNo.18'; }

.wrapper { width:100%; height:500px; position:relative; z-index:1; top:50%; margin:-250px auto 0; overflow:hidden; background:url(../images/stars.png);
	-moz-background-size:500px; -webkit-background-size:500px; background-size:500px;
}
  
.intro { width:500px; margin:150px auto 0; color:rgb(13,66,144); font-size:40px; text-align:left; opacity:0; -webkit-transition:opacity 0.3s linear; }

.crawl { padding-top:0px; position:absolute; z-index:10; top:430px; font-size:60px;  -webkit-transition:all 76s linear; -moz-transition:all 76s linear; }
.crawl.play { top:-2600px; }

.crawl p { font-family:"SWCrawlBodyRegular"; text-align:justify; color:rgb(252,223,43); }
.crawl p:first-child { text-align:center; }
.crawl p:first-child strong { display:block; font-size:72px; }


.logo { position:absolute; z-index:1; top:0; left:50%; height:100%; margin:0 0 0 -250px; opacity:0;
	display:-webkit-box; display:-moz-box; display:box;
	-webkit-box-align:center; -moz-box-align:center; box-align:center;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}

.logo img { display:block; margin: 0 auto;
	-webkit-transform:scale(2.5); -moz-transform:scale(2.5); transform:scale(2.5);
	-webkit-transform-origin:center; -moz-transform-origin:center; transform-origin:center;
	-webkit-transition:-webkit-transform 7s ease-out;
	-moz-transition:-moz-transform 7s ease-out;
	transition:transform 4s ease-out;
}
.logo img.recede { -webkit-transform:scale(0.1); }

.perspective {  position:absolute; z-index:1; top:0; left:50%; margin-left:-400px; width:800px; height:700px; overflow: visible;
	-webkit-transform: perspective(300) rotateX(45deg);
    -webkit-transform-style: preserve-3d;
    -moz-perspective:300px;
    -moz-transform: rotateX(45deg);
    -moz-transform-style: preserve-3d;
}

.show { opacity:1; }
